<app-carousel>
  <!-- <app-card class="card" *ngFor="let card of cards" [data]="card"> </app-card> -->
  <div class="card">
      <img src="https://img.icons8.com/material/4ac144/256/camera.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://www.freeiconspng.com/uploads/flat-blue-home-icon-4.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e0/WPVG_icon_2016.svg/1024px-WPVG_icon_2016.svg.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://img.icons8.com/material/4ac144/256/camera.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://www.freeiconspng.com/uploads/flat-blue-home-icon-4.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e0/WPVG_icon_2016.svg/1024px-WPVG_icon_2016.svg.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://img.icons8.com/material/4ac144/256/camera.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://www.freeiconspng.com/uploads/flat-blue-home-icon-4.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e0/WPVG_icon_2016.svg/1024px-WPVG_icon_2016.svg.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://img.icons8.com/material/4ac144/256/camera.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://www.freeiconspng.com/uploads/flat-blue-home-icon-4.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e0/WPVG_icon_2016.svg/1024px-WPVG_icon_2016.svg.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://img.icons8.com/material/4ac144/256/camera.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://www.freeiconspng.com/uploads/flat-blue-home-icon-4.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e0/WPVG_icon_2016.svg/1024px-WPVG_icon_2016.svg.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://img.icons8.com/material/4ac144/256/camera.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://www.freeiconspng.com/uploads/flat-blue-home-icon-4.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
  <div class="card">
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e0/WPVG_icon_2016.svg/1024px-WPVG_icon_2016.svg.png"  alt="Smiley face"  width="90" height="90"  >
  </div>
</app-carousel>
